<!-- views/login.html -->
<div class="container mt-5">
  <!-- LOGO -->
  <div class="position-absolute top-0 start-0 p-3">
    <img src="img/logo3.png" alt="Logo" width="300">
  </div>

  <!-- LOGIN -->
  <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-5 shadow" style="width: 100%; max-width: 500px; min-height: 400px; background-color: #3d4758;">
      <h2 class="text-white text-center mb-3">Acceso al sistema</h2>
      <p class="text-white text-center">Ingrese su ID de usuario</p>
      <input type="number" id="inputLoginId" class="form-control mb-3" placeholder="Usuario" />
      <button class="btn btn-naranja w-100" onclick="iniciarSesion()">Ingresar</button>
    </div>
  </div>
</div>